<div class="row">
  <div class="col col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading inline-block">
        <h2><%= @list.title %> Completed Tasks
        <%= link_to "Add Task", new_list_task_path(@list.id),
          class: "btn btn-primary form-inline pull-right" %></h2>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <td class="value h4">Title</td>
            <td class="value h4">Description</td>
            <td class="value h4">Due Date</td>
            <td><%= link_to "View Incomplete", list_path(@list.id), class: "btn btn-default" %></td>
          </tr>
        </thead>
        <tbody>
        <% @list.complete_tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.due_date %></td>
            <td><%= link_to "Incomplete",
              complete_task_path(list_id: @list.id,
                                 id: task.id,
                                 complete: false),
              method: "patch",
              class: "btn btn-default pull-right" %>
            <%= link_to "Delete", "/list/#{@list.id}/tasks/#{task.id}", method: "delete", class: "btn btn-warning pull-right" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

