<div class="row">
    <%= render partial: "no_lists" if @lists.count == 0 %>
  <div class="col col-sm-8 col-sm-offset-2">
    <% @lists.each do |list| %>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h2><%= link_to list.title, list_path(list) %>
        <span class="pull-right">
          <%= link_to "New Task", new_list_task_path(list.id), class: "btn btn-primary form-inline" %>
        </span>
        <span class="pull-right">
          <%= button_to 'Move List to Archive', archive_list_path(list.id, archived: true), method: "put", class: "btn btn-default" %>
        </span>
        </h2>
    </div>
    <%= render partial: "active_tasks", locals: { list: list } %>
    </div>
    <% end %>
  </div>
</div>
